.capabilities__header {
    display: flex;
    align-items: center;
    .section-header {
        flex-shrink: 0;
        margin: 0;
    }
    a {
        flex-shrink: 0;
    }
}
.section-subheader {
    margin-left: auto;
    margin-right: 3.2rem;
    font-size: 1.1rem;
    max-width: 405.4px;
}
.capabilities-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.capabilities-item {
    border: 1px solid $border-color;
    padding: 3.8rem 2.2rem;
    h2 {
        margin: 1.3rem auto;
        font-size: 1.6rem;
        letter-spacing: 0.43px;
        font-weight: bold;
    }
    p {
        margin: 0;
        font-size: 1.3rem;
        letter-spacing: 0.19px;
    }
}
.capabilities .content {
    padding: 7.5rem 0 0 0;
}