.our-story-item {
    max-height: 22.4rem;
}
.our-story {
    .container {
        padding: 5.9rem 0;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__text {
        max-width: 405.08px;
        h6 {
            letter-spacing: 0.19px;
            font-size: 2rem;
            margin: 0 auto 3rem 0;
            line-height: 27px;
        }
        p {
            font-size: 1.3rem;
            letter-spacing: 0.19px;
            line-height: 23px;
            margin: 0;
        }
    }
    &__items {
        display: flex;
        align-self: flex-end;
    }
}
.our-story-item {
    max-width: 14rem;
    margin-right: 2rem;
    overflow: hidden;
    p {
        padding: 1.5rem;
        margin: 0;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 800;
        letter-spacing: 0.19px;
        text-transform: uppercase;
        color: $white;
        max-width: 14rem;
        z-index: 2;
    }
    img {
        object-fit: cover;
        transition: transform 2s ease-in-out;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}